<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a routerLink="/home" class="navbar-brand" style="padding-left: 20px;">Quiz</a>
    
    
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link cursor" data-bs-toggle="modal" data-bs-target="#addCategory">Add a new category</a>
      </li>
      
    </ul>
    <a  routerLink="/home" class="nav-link cursor">Home</a>
  </nav> 



  <!-- Modal -->
  <div class="modal fade" id="addCategory" tabindex="-1" 
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
              <label for="exampleInputuname">Category name</label>
              <div class="input-group">
                  <input type="text" class="form-control" 
                      [(ngModel)]="category"
                      id="exampleInputuname" placeholder="Eg. Football" autocomplete="off">
              </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
        <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal" (click)="saveCategory()">Save</button>
      </div>
    </div>
  </div>
</div>
  
  
  