


<div class="row row-cols-1 row-cols-md-2 g-4">
   <div class="col" *ngFor="let category of categories">
     <div class="card">
       <img src="..." class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">{{category.categoryName}}</h5>
         <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque fugiat aliquid inventore rerum, ut voluptas laudantium vitae nobis enim dignissimos repellat nam iure iusto, impedit nostrum distinctio odit, possimus natus.</p>
         <a routerLink="/quiz/{{category.categoryID}}" class="btn btn-secondary mx-4">Add question</a>
         <a routerLink="/quiz/{{category.categoryID}}" class="btn btn-primary">Start Quiz</a>
        </div>
      </div>
   </div>
 </div>