

<!-- Loading -->
<div *ngIf="questions.length==0">
  Loading...
</div>

<div>
  {{days}}:{{hours}}:{{minutes}}:{{seconds}}  
  <button (click)="restart()">Restart quiz</button>
</div>
<input type="time" step=1 min='00:01' max= '11:59' [(ngModel)]="timer">
<button (click)="set()" >Set</button>

<!-- Questions -->
<form action="" [formGroup]="myForm" (ngSubmit)="check()" *ngIf="questions.length>0">

  <div class="row mt-3" *ngIf="questions.length !== 0">
    <div class="col-12"  *ngFor="let question of questions">
      <label class="form-label">{{question.query | json}}</label> {{question.questionID}}
      <select class="form-control" formControlName="questionID{{question.questionID}}">
        <option value="">Select one</option>
        <option *ngFor="let answer of question.answers.$values" [value]="answer.answerID">{{answer.answerID}}{{answer.posibleAnswer}}</option> 
      </select>
      <span class="form-text red" *ngIf="isValid('questionID'+question.questionID)">Error</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end" type="submit" [disabled]="myForm.invalid" > Send</button>
    </div>
  </div>
  <h2>Form valid: {{ myForm.invalid | json}} </h2>
  <pre>Form status: {{ myForm.valid | json}} </pre>
  <pre>Form valid: {{ myForm.errors | json}} </pre>
</form>
<!-- [disabled]="myForm.invalid"
<pre>name errors: {{ myForm.controls['name'].errors | json}} </pre>
<pre>email errors: {{ myForm.controls['email'].errors | json}} </pre>
<pre>username errors: {{ myForm.controls['username'].errors | json}} </pre>
<pre>password errors: {{ myForm.controls['password'].errors | json}} </pre>

<pre>username errors: {{ myForm.controls['confirmPass'].errors | json}} </pre> -->